@import '@/profile/variables.scss';
.second-body {
  &__content {
    padding-top: 36px;
  }
  &__title {
    font-weight: 500;
    font-size: 52px;
    line-height: 102.5%;
    text-align: center;
    width: 248px;
    margin-bottom: 150px;
    @media (max-width: $breakpoint_mini_second_page) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 250px;
    }
    @media (min-width: $breakpoint_mini_second_page) {
      margin-right: auto;
    }
    @media (min-width: $breakpoint_desktop_second_page) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    margin: 0 auto;
    @media (min-width: $breakpoint_desktop_second_page) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__card {
    width: 410px;
    margin-bottom: 300px;
    @media (min-width: $breakpoint_mini_second_page) {
      margin-bottom: 100px;
    }
  }
  &__card-icon {
    min-width: 74px;
    min-height: 74px;
    margin: 20px;
  }
  &__card-icon-kinopoisk {
    background-image: url('~@/assets/yandex-kino.png');
    background-size: contain;
  }
  &__card-icon-music {
    background-image: url('~@/assets/yandex-music.png');
    background-size: contain;
  }
  &__card-kinopoisk {
    position: relative;
    display: flex;
    display: flex;
    justify-content: center;
    z-index: 2;
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      z-index: 0;

      display: block;
      width: 298px;
      height: 295px;

      background-image: url('~@/assets/Second/kinopoisk-content.png');
      background-repeat: no-repeat;
      background-size: 100% auto;

      transform: translate(-50%, -100%);
    }
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      z-index: -1;

      display: block;
      width: 366px;
      height: 388px;

      background-image: url('~@/assets/Second/kinopoisk-circle.png');
      background-repeat: no-repeat;
      background-size: 100% auto;

      transform: translate(-50%, -63%);
    }
    @media (min-width: $breakpoint_mini_second_page) {
      margin-left: auto;
    }
    @media (min-width: $breakpoint_desktop_second_page) {
      margin-left: 0;
    }
  }
  &__card-music {
    position: relative;
    display: flex;
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-bottom: 240px;
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      z-index: 0;

      display: block;
      width: 318px;
      height: 286px;

      background-image: url('~@/assets/Second/music-content.png');
      background-repeat: no-repeat;
      background-size: 100% auto;

      transform: translate(-50%, -105%);
    }
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      z-index: -1;

      display: block;
      width: 376px;
      height: 393px;

      background-image: url('~@/assets/Second/plus-circle.png');
      background-repeat: no-repeat;
      background-size: 100% auto;

      transform: translate(-50%, -66%);
    }
    @media (min-width: $breakpoint_mini_second_page) {
      margin-right: auto;
      margin-bottom: 100px;
    }
    @media (min-width: $breakpoint_desktop_second_page) {
      margin-right: 0;
    }
  }
  &__card-plus {
    position: relative;
    z-index: 2;
    padding: 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      z-index: 0;

      display: block;
      width: 298px;
      height: 295px;

      background-image: url('~@/assets/Second/plus-content.png');
      background-repeat: no-repeat;
      background-size: 100% auto;

      transform: translate(-50%, -90%);
    }
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      z-index: -1;

      display: block;
      width: 364px;
      height: 377px;

      background-image: url('~@/assets/Second/music-circle.png');
      background-repeat: no-repeat;
      background-size: 100% auto;

      transform: translate(-50%, -60%);
    }
    @media (min-width: $breakpoint_mini_second_page) {
      margin-left: auto;
      margin-bottom: 75px;
    }
    @media (min-width: $breakpoint_desktop_second_page) {
      margin: 0 auto 150px;
    }
  }
  &__card-text {
    font-size: 27px;
    line-height: 28px;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 0 0 9px;
  }
  &__card-text_center {
    text-align: center;
  }
  &__promo {
    margin-bottom: 8px;
  }
  &__promo-text {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.035em;
    color: #545454;
    opacity: 0.7;
    text-align: center;
  }
  &__promo-code {
    font-size: 39.4521px;
    line-height: 46px;
  }
}
