.second-main {
  // background-image: url('~@/assets/main-bg.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;
  background-color: #00a700;
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
  min-width: 320px;
  height: auto;
  &__header {
    background-color: #afcf3a;
    border: 2px solid black;
    // height: 967px;
    width: 100%;
    margin-bottom: 53px;
  }
  &__body {
    background-color: #216faf;
    border: 2px solid black;

    height: 734px;
    width: 100%;
  }
  &__footer {
    background-color: #cc3e3e;
    border: 2px solid black;
    height: 388px;
    width: 100%;
  }
}
