.second-wrap {
  background-image: url('~@/assets/SecondPage/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.second-main {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  min-width: 260px;
  height: auto;
  &__header {
    width: 100%;
    margin-bottom: 53px;
  }
  &__body {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__footer {
    height: 388px;
    width: 100%;
  }
}
.second-page__link {
  font-size: 18px;
  line-height: 15px;
  width: 150px !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  z-index: 1;
  border-radius: 4px;
  transition-duration: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #505dd7;
    color: white;
    border: none;
  }
}
