@import '@/profile/variables.scss';
.second-header {
  &__content {
    height: auto;
    padding-top: 77px;
    background-color: gray;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
  }
  &__logo-yandex {
    width: 377px;
    height: 177px;
    background-color: rgb(241, 119, 119);
    border: 2px solid black;
    top: 77px;
    margin: 0 auto;
  }
  &__logo-icicles {
    border: 2px solid black;
    width: 61px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    left: 97px;
    top: 127px;
  }
  &__arrow-back {
    width: 377px;
    height: 177px;
    background-color: gray;
    border: 2px solid black;
    margin: 50px auto 0 0;
    position: absolute;
    @media (max-width: 920px) {
      display: none;
    }
  }
  &__video-wrap {
    // width: 1024px;
    height: auto;
    background-color: gray;
    border: 2px solid black;
    margin: 0 10px;
    padding: 24px 26px 59px 26px;
    min-width: 340px;
    border-radius: 30px;
    @media (max-width: $breakpoint_mini_second_page) {
      margin: 0;
      min-width: 320px;
    }
  }
  &__video-content {
    // width: 971px;
    height: 461px;
    border: 2px solid black;
    margin-bottom: 48px;
    border-radius: 16px;
  }
  &__video-share {
    // width: 970px;
    height: auto;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint_mini_second_page) {
      flex-direction: column;
    }
  }
  &__arrow-back {
    width: 241px;
    height: 48px;
    margin-left: 0;
  }
  &__row {
    display: flex;
    width: 100%;
    padding: 0 30px 0 30px;
  }
  &__arrow-down {
    background-color: gray;
    border: 2px solid black;
    position: absolute;
    left: 62px;
    top: 696px;
    width: 66px;
    height: 93px;
  }
  &__icicles {
    min-width: 340px;
    // width: 797px;
    height: 53px;
    background-color: gray;
    border: 2px solid black;
    margin: 0 59px;
  }
  &__share {
    font-size: 30px;
    line-height: 104.7%;
    max-width: 167px;
    @media (max-width: 820px) {
      font-size: 20px;
    }
    @media (max-width: $breakpoint_mini_second_page) {
      display: flex;
      justify-content: center;
      font-size: 20px !important;
      max-width: 100%;
      margin-bottom: 15px !important;
    }
  }
}
.header__link {
  display: flex;
  align-items: center;
}
.margin_zero {
  margin: 0 !important;
}
@media (max-width: 820px) {
  .footer__list-item {
    margin-right: 3px;
  }
  .footer__link {
    min-width: 180px !important;
  }
}
@media (max-width: $breakpoint_mini_second_page) {
  .margin_zero {
    margin-bottom: 27px !important;
  }
  .header__link {
    justify-content: space-around;
  }
  .footer__link {
    height: 48px;
    font-size: 19px;
  }
  .footer__list-item {
    margin-right: 0;
  }
}
