@import '@/profile/variables.scss';

.body {
  &__content-wrap {
    position: relative;
    width: 967px;
    margin: 0 auto;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    display: flex;
    width: auto;
    padding: 0 15px;
    color: white;
    height: auto;
    // z-index: 3;
    // &::after {
    //   position: absolute;
    //   content: '';
    //   // top: 50%;
    //   left: 50%;
    //   z-index: -1;

    //   display: block;
    //   width: 100%;
    //   height: 100%;

    //   background-image: url('~@/assets/FirstPage/big-ellipse.png');
    //   background-repeat: no-repeat;
    //   background-size: 100% 100%;

    //   transform: translate(-50%, -100%);
    // }
    // justify-content: space-between;
    // @media (max-width: $breakpoint_tablet) {
    //   justify-content: start;
    // }
  }
  // &__section {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   padding-top: 210px;
  //   z-index: 10;
  //   @media (max-width: $breakpoint_tablet) {
  //     margin-left: 15px;
  //   }
  //   @media (max-width: 760px) {
  //     padding-top: 190px;
  //   }
  // }
  &__section-form {
    width: 450px;
    height: 469px;
    border-radius: 12px;
    background-color: white;
    z-index: 2;

    // @media (max-width: 500px) {
    //   width: 92vw;
    // }
  }
  &__tree {
    position: absolute;
    background-image: url('~@/assets/FirstPage/body-tree.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    min-width: 557px;
    height: 900px;
    z-index: 1;
    top: -100px;
    right: -20px;
    overflow-x: hidden;
    // @media (max-width: $breakpoint_tablet) {
    //   display: flex;
    //   align-self: flex-end;
    //   margin-bottom: -86px;
    //   margin-left: -130px;
    // }
    // @media (max-width: $breakpoint_mini_second_page) {
    //   height: 700px;
    //   background-size: 80%;
    //   margin-bottom: 0;
    //   background-position-x: 20px;
    // }
    // @media (max-width: 500px) {
    //   position: absolute;
    //   background-image: url('~@/assets/FirstPage/tree-small.png');
    //   min-width: 215px;
    //   height: 307px;
    //   right: 0px;
    //   top: 135px;
    // }
  }
  &__text {
    // width: 500px;
    padding: 0 15px 0 0;
  }
  &__title {
    font-size: 66px;
    margin: 0 0 21px 0;
    @media (max-width: $breakpoint_mini_second_page) {
      font-size: 42px;
    }
    @media (max-width: $breakpoint_mini_first_page) {
      font-size: 32px;
      margin: 0 0 13px 0;
      width: 70vw;
      line-height: 102.5%;
    }
  }
  &__description {
    font-size: 27px;
    margin: 0 0 57px 0;
    padding: 0 400px 0 0;
    @media (max-width: $breakpoint_mini_second_page) {
      font-size: 20px;
    }
    @media (max-width: $breakpoint_mini_first_page) {
      font-size: 17px;
      padding: 0;
      width: 70vw;
    }
  }
  // &__section-info {
  //   height: 194px;
  //   margin-bottom: 100px;
  //   color: white;
  //   @media (max-width: $breakpoint_mini_second_page) {
  //     margin-bottom: 70px;
  //   }
  //   @media (max-width: 500px) {
  //     margin-bottom: 0;
  //   }
  // }
  // &__section-title {
  //   width: 570px;
  //   font-size: 64px;
  //   font-weight: bold;
  //   margin: 8px 0 21px 0;
  //   @media (max-width: $breakpoint_mini_second_page) {
  //     font-size: 28px;
  //     width: 70%;
  //     margin: 30px 0 15px 0;
  //   }
  //   @media (max-width: 500px) {
  //     font-size: 22px;
  //     width: 250px;
  //     margin: 8px 0 10px 0;
  //   }
  // }
  // &__section-text {
  //   width: 80%;
  //   font-size: 27px;
  //   line-height: 35px;
  //   @media (max-width: $breakpoint_mini_second_page) {
  //     font-size: 18px;
  //     width: 70%;
  //     line-height: 20px;
  //   }
  //   @media (max-width: 500px) {
  //     font-size: 14px;
  //     width: 220px !important;
  //     line-height: 16px;
  //   }
  // }
  // &__tree {
  //   background-image: url('~@/assets/FirstPage/body-tree.png');
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  //   background-position: center center;
  //   min-width: 557px;
  //   height: 900px;
  //   margin-top: 100px;
  //   z-index: 1;
  //   overflow-x: hidden;
  //   @media (max-width: $breakpoint_tablet) {
  //     display: flex;
  //     align-self: flex-end;
  //     margin-bottom: -86px;
  //     margin-left: -130px;
  //   }
  //   @media (max-width: $breakpoint_mini_second_page) {
  //     height: 700px;
  //     background-size: 80%;
  //     margin-bottom: 0;
  //     background-position-x: 20px;
  //   }
  //   @media (max-width: 500px) {
  //     position: absolute;
  //     background-image: url('~@/assets/FirstPage/tree-small.png');
  //     min-width: 215px;
  //     height: 307px;
  //     right: 0px;
  //     top: 135px;
  //   }
  // }
}
.form {
  width: 390px;
  margin: 0 auto;
  @media (max-width: $breakpoint_phone) {
    width: 90%;
  }
  &__input {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px dashed #bebebe;
    resize: none;
    &:nth-child(5) {
      height: 90px;
    }
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__input_short {
    width: 37.11%;
    height: 60px;
    border: none;
    border-bottom: 1px dashed #bebebe;
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__icicles {
    margin: 0 auto;
  }
}
.btn-form {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  @media (max-width: $breakpoint_mini) {
    font-size: 18px;
  }
}
.small-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.select-gender {
  color: #646464;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position-x: right;
  &:enabled {
    background: url('~@/assets/FirstPage/arrow-down.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
  &:focus {
    background: url('~@/assets/FirstPage/arrow-up.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
}
.select-praise {
  color: #646464;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position-x: right;
  &:enabled {
    background: url('~@/assets/FirstPage/arrow-down.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
  &:focus {
    background: url('~@/assets/FirstPage/arrow-up.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
}
