@import '@/profile/variables.scss';

.body {
  &__content {
    display: flex;
    margin-top: -529px;
    height: 914px;
    display: flex;
    justify-content: center;
    @media (max-width: $breakpoint_tablet) {
      justify-content: start;
    }
  }
  &__section {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 167px;
    @media (max-width: $breakpoint_tablet) {
      margin-left: 31px;
    }
    @media (max-width: $breakpoint_phone) {
      width: 100vw;
      margin-left: 0;
    }
  }
  &__section-form {
    width: 450px;
    height: 469px;
    border-radius: 12px;
    background-color: white;
    @media (max-width: $breakpoint_phone) {
      width: 90%;
      margin: 0 auto;
      z-index: 1;
    }
  }
  &__section-info {
    height: 194px;
    margin-bottom: 57px;
    color: white;
    @media (max-width: $breakpoint_phone) {
      width: 90%;
      margin: 0 auto 57px auto;
    }
  }
  &__section-title {
    height: 68px;
    width: 570px;
    font-size: 64px;
    font-weight: bold;
    margin: 8px 0 21px 0;
    @media (max-width: $breakpoint_phone) {
      font-size: 32px;
      margin: 20px 0;
      height: auto;
    }
    @media (max-width: $breakpoint_mini) {
      font-size: 22px;
      width: 250px;
    }
  }
  &__section-text {
    height: 105px;
    width: 468px;
    font-size: 27px;
    line-height: 35px;
    @media (max-width: $breakpoint_phone) {
      font-size: 17px;
      height: auto;
      width: 300px;
      line-height: 18px;
    }
    @media (max-width: $breakpoint_mini) {
      font-size: 14px;
      width: 250px;
      line-height: 16px;
    }
  }
  &__tree {
    background-image: url('~@/assets/body-tree.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    min-width: 557px;
    height: 900px;
    margin-left: -30px;
    // @media (max-width: $breakpoint_tablet) {
    @media (max-width: $breakpoint_tablet) {
      min-width: 461px;
      height: 782px;
      display: flex;
      align-self: flex-end;
      margin-bottom: -86px;
    }
    @media (max-width: $breakpoint_phone) {
      position: absolute;
      background-image: url('~@/assets/tree-small.png');
      \min-width: 215px;
      height: 307px;
      right: 0px;
      top: 265px;
    }
  }
}
.form {
  width: 390px;
  margin: 0 auto;
  @media (max-width: $breakpoint_phone) {
    width: 90%;
  }
  &__input {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px dashed #bebebe;
    resize: none;
    &:nth-child(5) {
      height: 90px;
    }
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__input_short {
    width: 37.11%;
    height: 60px;
    border: none;
    border-bottom: 1px dashed #bebebe;
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__icicles {
    margin: 0 auto;
  }
}
.big-btn {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.small-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.select-gender {
  color: #646464;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position-x: right;
  &:enabled {
    background: url('~@/assets/arrow-down.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
  &:focus {
    background: url('~@/assets/arrow-up.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
}
.select-praise {
  color: #646464;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position-x: right;
  &:enabled {
    background: url('~@/assets/arrow-down.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
  &:focus {
    background: url('~@/assets/arrow-up.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
}
