@import '@/profile/variables.scss';

.body {
  height: auto;
  &__content-wrap {
    position: relative;
    width: 967px;
    margin: 0 auto;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    display: flex;
    width: auto;
    padding: 0 15px;
    color: white;
    height: auto;
  }
  &__section-form {
    width: 450px;
    height: 469px;
    border-radius: 12px;
    background-color: white;
    z-index: 2;

    @media (max-width: $breakpoint_mini_first_page) {
      width: 92vw;
    }
  }
  &__tree {
    position: absolute;
    background-image: url('~@/assets/FirstPage/body-tree.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    min-width: 557px;
    height: 900px;
    z-index: 1;
    top: -100px;
    right: -20px;
    @media (max-width: $breakpoint_mini_first_page) {
      background-image: url('~@/assets/FirstPage/tree-small.png');
      background-size: contain;
      min-width: 215px;
      height: 307px;
      left: -450px;
      top: 100px;
    }
  }
  &__text {
    padding: 0 15px 0 0;
    @media (max-width: $breakpoint_mini_first_page) {
      margin: 0 0 100px 0;
    }
  }
  &__title {
    font-size: 66px;
    margin: 0 0 21px 0;
    @media (max-width: $breakpoint_mini_second_page) {
      font-size: 42px;
    }
    @media (max-width: $breakpoint_mini_first_page) {
      font-size: 30px;
      margin: 0 0 13px 0;
      width: 87vw;
      line-height: 102.5%;
    }
  }
  &__description {
    font-size: 27px;
    margin: 0 0 57px 0;
    padding: 0 400px 0 0;
    @media (max-width: $breakpoint_mini_second_page) {
      font-size: 20px;
    }
    @media (max-width: $breakpoint_mini_first_page) {
      font-size: 17px;
      padding: 0;
      width: 80vw;
    }
  }
}
.form {
  width: 390px;
  margin: 0 auto;
  @media (max-width: $breakpoint_phone) {
    width: 90%;
  }
  &__input {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px dashed #bebebe;
    resize: none;
    &:nth-child(5) {
      height: 90px;
    }
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__input_short {
    width: 37.11%;
    height: 60px;
    border: none;
    border-bottom: 1px dashed #bebebe;
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__icicles {
    margin: 0 auto;
  }
}
.btn-form {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  @media (max-width: $breakpoint_mini) {
    font-size: 18px;
  }
}
.small-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.select-gender {
  color: #646464;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position-x: right;
  &:enabled {
    background: url('~@/assets/FirstPage/arrow-down.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
  &:focus {
    background: url('~@/assets/FirstPage/arrow-up.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
}
.select-praise {
  color: #646464;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position-x: right;
  &:enabled {
    background: url('~@/assets/FirstPage/arrow-down.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
  &:focus {
    background: url('~@/assets/FirstPage/arrow-up.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
    background-position-x: right;
  }
}
