@import '@/profile/variables.scss';

.main {
  background-image: url('~@/assets/FirstPage/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 1210px;
  &__header {
    width: 100%;
    // position: absolute;
  }
  &__body {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 3;
    // overflow-x: hidden;
    &::after {
      position: absolute;
      content: '';
      // top: 50%;
      left: 50%;
      z-index: -1;

      display: block;
      width: 1200px;
      height: 100%;

      background-image: url('~@/assets/FirstPage/big-ellipse.png');
      background-repeat: no-repeat;
      background-size: 100% 70%;

      transform: translate(-50%, -115%);
      // overflow-x: hidden;
      @media (max-width: $breakpoint_mini_second_page) {
        background-size: 100% 60%;
        transform: translate(-50%, -107%);
      }
      @media (max-width: $breakpoint_mini_first_page) {
        width: 100%;
        background-size: 100% 50%;
        background-position-x: -30px;
        transform: translate(-50%, -107%);
      }
    }
  }
  &__footer {
    width: 100%;
    height: 388px;
    // position: absolute;
    // bottom: 0;
    // margin-top: 49px;
  }
}
