@import '@/profile/variables.scss';

.main {
  background-image: url('~@/assets/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
  &__body {
    width: 100%;
    height: auto;
    @media (max-width: $breakpoint_phone) {
      margin-top: 132px;
    }
  }
  &__footer {
    width: 100%;
    height: 388px;
    margin-top: 49px;
  }
}
