@import '@/profile/variables.scss';

.header {
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__lights {
    background-image: url('~@/assets/lights.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    height: 232px;
    @media (max-width: 1710px) {
      min-width: 1710px;
    }
    @media (max-width: $breakpoint_phone) {
      background-image: url('~@/assets/lights.png'),
        url('~@/assets/lights2.png');
      background-position-x: -600px, -500px !important;
      background-position-y: 0, -11px;
    }
  }
  &__yandex-body-wrap {
    z-index: 1;
    background-image: url('~@/assets/yandex-ellipse.png');
    background-size: 100% 139px;
    background-repeat: no-repeat;
    width: 377px;
    height: 177px;
    display: flex;
    flex-direction: column;
    margin: -153.25px auto 0 auto;

    padding-top: 53px !important;

    @media (max-width: $breakpoint_phone) {
      margin: -195px auto 0 auto;
      width: 310px;
    }
    @media (max-width: $breakpoint_mini) {
      margin: -195px auto 0 auto;
      width: 243px;
      padding-top: 37px !important;
      height: auto;
      background-size: 100% 104px;
    }
  }
  &__yandex-body {
    display: flex;
    justify-content: space-evenly;
  }
  &__yandex-plus {
    background-image: url('~@/assets/yandex-plus.png');
    background-size: 100% 100%;
    width: 183.6px;
    height: 38.79px;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: $breakpoint_mini) {
      width: 118px;
      height: 25px;
    }
  }
  &__yandex-kino {
    background-image: url('~@/assets/yandex-kino.png');
    background-size: 100% 100%;
    width: 38.79px;
    height: 38.79px;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: $breakpoint_mini) {
      width: 25px;
      height: 25px;
    }
  }
  &__yandex-music {
    background-image: url('~@/assets/yandex-music.png');
    background-size: 100% 100%;
    width: 38.79px;
    height: 38.79px;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: $breakpoint_mini) {
      width: 25px;
      height: 25px;
    }
  }
  &__gradient {
    background-image: url('~@/assets/big-ellipse.png');
    background-size: 100% 100%;
    width: 1021px;
    height: 503px;
    margin: -131.89px auto 0 auto;
    @media (max-width: $breakpoint_tablet) {
      width: 120%;
      background-position-x: -100px;
    }
    @media (max-width: $breakpoint_phone) {
      height: 232px;
      width: 100%;
      background-position-x: -50px;
      background-repeat: no-repeat;
      margin: -80px auto 0 auto;
    }
  }
  &__yandex-icicles_big {
    background-repeat: no-repeat;
    width: 49px;
    margin-left: 97px;
    margin-top: 35.32px;
    @media (max-width: $breakpoint_phone) {
      display: none;
    }
  }
  &__yandex-icicles_second {
    margin-top: 88px !important;
  }
  &__yandex-icicles_small {
    display: none;
    background-repeat: no-repeat;
    width: 49px;
    margin-left: 17px;
    margin-top: 11px;
    @media (max-width: $breakpoint_phone) {
      display: block;
    }
    @media (max-width: $breakpoint_mini) {
      margin-top: 32px;
      margin-top: 22px;
    }
  }
}
