$breakpoint_desktop: 1440px;
$breakpoint_tablet: 1000px;
$breakpoint_phone: 650px;
$breakpoint_mini: 400px;
$breakpoint_mini_second_page: 750px;
$breakpoint_tablet_second_page: 800px;
$breakpoint_desktop_second_page: 1400px;
