.main {
  background-image: url('~@/assets/main-bg.png');
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  @media (max-width: 1440px) {
    background-image: url('~@/assets/mid-bg.png');
  }
  @media (max-width: 450px) {
    background-image: url('~@/assets/sm-bg.png');
  }
  &__header {
    background-image: url('~@/assets/lights.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 232px;
    width: 1710px;
    margin-bottom: -300px;
    @media (max-width: 1800px) {
      width: 100%;
    }
    @media (max-width: 450px) {
      background-image: url('~@/assets/lights.png'),
        url('~@/assets/lights2.png');
      background-position-x: center, -888px !important;
      background-position-y: 0, -11px;
    }
  }
  &__body {
    width: 100%;
    height: auto;
    position: relative;
    top: 139px;
    overflow: hidden;
    @media (max-width: 450px) {
      height: min-content;
      top: 100px;
    }
  }
  &__footer {
    background-image: url('~@/assets/footer-test.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 388px;
    position: relative;
    bottom: -180px;
    @media (max-width: 1440px) {
      background-position-x: -600px;
    }
    @media (max-width: 450px) {
      width: 100%;
      background-image: url('~@/assets/sm-footer.png');
      position: relative;
      bottom: -150px;
      height: 428px;
    }
  }
}
.body__yandex {
  background-image: url('~@/assets/logo-yandex-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center, center;
  width: 377px;
  height: 177px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 53px;
  &-title {
    font-size: 32px;
    &:hover {
      cursor: pointer;
    }
  }
  &-plus {
    background-image: url('~@/assets/yandex-plus.png');
    background-size: 100% 100%;
    background-position: center, center;
    width: 92px;
    height: 39px;
    &:hover {
      cursor: pointer;
    }
  }
  &-kinopoisk {
    background-image: url('~@/assets/kinopoisk.png');
    background-size: 100% 100%;
    background-position: center, center;
    width: 39px;
    height: 39px;
    &:hover {
      cursor: pointer;
    }
  }
  &-music {
    background-image: url('~@/assets/yandex-music.png');
    background-size: 100% 100%;
    background-position: center, center;
    width: 39px;
    height: 39px;
    &:hover {
      cursor: pointer;
    }
  }
  @media (max-width: 450px) {
    background-image: url('~@/assets/small-yandex-bg.png');
    width: 243.41px;
    height: 113px;
    padding-top: 35px;
    &-title {
      font-size: 22px;
    }
    &-plus {
      width: 59px;
      height: 25px;
    }
    &-kinopoisk {
      width: 25px;
      height: 25px;
    }
    &-music {
      width: 25px;
      height: 25px;
    }
  }
}
.body__ellipse {
  background-image: url('~@/assets/big-ellipse.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center, center;
  width: 1040px;
  height: 503px;
  @media (max-width: 450px) {
    width: 100% !important;
    background-size: 100% 100% !important;
    height: 230px;
    background-position-x: -30px;
  }
  @media (min-width: 780px) and (max-width: 1440px) {
    min-width: 303px;
    margin: 0 auto;
  }
  @media (min-width: 780px) and (max-width: 1050px) {
    width: 100%;
    background-size: 130% 100%;
  }
  @media (max-width: 780px) {
    width: 100%;
    background-size: 130% 100%;
  }
  &-info {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 194px;
    margin-left: 137px;
    color: white;
    @media (max-width: 1440px) {
      margin-left: 137px;
    }
    @media (max-width: 900px) {
      position: sticky;
      left: 28px;
    }
    @media (max-width: 780px) {
      margin-left: 20px;
    }
    @media (max-width: 450px) {
      margin-top: 50px;
      position: relative;
      padding-top: 60px;
    }
  }
  &-title {
    font-size: 66px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    line-height: 102.5%;
    margin-bottom: 21px;
    margin-top: 140px;
    @media (max-width: 900px) {
      font-size: 62px;
    }
    @media (max-width: 720px) {
      width: 80%;
      font-size: 47px;
    }
    @media (max-width: 450px) {
      margin-top: 0;
      font-size: 32px;
      margin-bottom: 5px;
    }
  }
  &-text {
    margin: 0;
    font-size: 27px;
    font-weight: normal;
    line-height: 35px;
    width: 468px;
    @media (max-width: 720px) {
      width: 65%;
      font-size: 25px;
      line-height: 23.5px;
    }
    @media (max-width: 450px) {
      width: 45%;
      font-size: 17px;
      line-height: 19.5px;
    }
  }
}
.body__form-wrap {
  background-image: url('~@/assets/modal.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center, center;
  min-width: 410px;
  width: 450px;
  margin-top: -111px;
  @media (max-width: 900px) {
    z-index: 2;
    width: min-content;
    margin-top: -111px;
  }
  @media (max-width: 450px) {
    margin-top: 35px;
    min-width: 307px;
    height: 400px;
  }
}
.body__form {
  width: 86.22%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 10px;
  @media (max-width: 570px) {
    height: 480px;
  }
  @media (max-width: 450px) {
    font-size: 16px;
  }
  &-row {
    display: flex;
    justify-content: space-between;
  }
  &-inp_short {
    width: 37.11%;
    height: 60px;
    border: none;
    border-bottom: 1px dashed #bebebe;
    @media (max-width: 450px) {
      height: 48.9px;
    }
    option {
      margin-top: -100px;
      margin-left: -100px;
    }
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &-inp {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px dashed #bebebe;
    @media (max-width: 450px) {
      height: 48.9px;
    }
    &:nth-child(5) {
      margin-top: 19px;
      resize: none;
      @media (max-width: 450px) {
        margin-top: 14px;
      }
    }
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
    width: 387px;
    height: 60px;
    color: white;
    background-color: rgba(80, 93, 215, 1);
    border-radius: 12px;
    margin-bottom: 20px;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 900px) {
      width: 358px;
    }
    @media (max-width: 450px) {
      width: 264px;
      font-size: 18px;
      margin-top: 10px;
    }
  }
}
.body__tree {
  background-image: url('~@/assets/tree.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  width: 557px;
  height: 900px;
  margin-top: -517px;
  @media (max-width: 900px) {
    width: 461px;
    height: 782px;
    margin-top: -342px;
    z-index: 1;
    background-position-x: -49px;
  }
  @media (max-width: 450px) {
    background-position-x: 0;
  }

  @media (max-width: 450px) {
    display: block;
    width: 184px;
    height: 307px;
    margin-left: -225px;
    margin-top: -118px;
    background-image: url('~@/assets/sm-tree.png');
    background-size: contain;
    position: absolute;
    right: -10%;
  }
}
.body__person {
  display: none;
  position: absolute;
  width: 140px;
  height: 179px;
  left: 41.11%;
  top: 235px;
  @media (max-width: 450px) {
    display: block;
    background-image: url('~@/assets/person.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    position: absolute;
    z-index: 1;
    top: 250px;
  }
}
.body__row1 {
  display: flex;
  justify-content: center;
}
.body__row2 {
  width: max-content;
  margin: -131px auto 0 auto;
  @media (max-width: 1050px) {
    width: 100%;
  }
  @media (max-width: 450px) {
    width: 100%;
    margin-top: -90px;
  }
}
.body__row3 {
  display: flex;
  padding-left: 240px;
  width: max-content;
  margin: 0 auto;
  @media (min-width: 780px) and (max-width: 1050px) {
    padding-left: 135px;
  }
  @media (max-width: 780px) {
    padding-left: 0;
  }
  @media (max-width: 450px) {
    width: 307px;
    margin: 0 auto;
  }
}
.select-gender {
  color: #646464;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:enabled {
    background: url('~@/assets/arrow-down.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
  }
  &:focus {
    background: url('~@/assets/arrow-up.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
  }
}
.select-praise {
  color: #646464;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:enabled {
    background: url('~@/assets/arrow-down.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
  }
  &:focus {
    background: url('~@/assets/arrow-up.png') 96% / 15% no-repeat;
    background-size: 19px 11px;
  }
}

@media (max-width: 780px) {
  .main__header {
    background-position-x: center;
  }
  .body {
    &__row3 {
      width: 100%;
    }
    &__form-wrap {
      margin-left: 20px;
    }
  }
}
