@import '@/views/FirstPage/fPageContent.scss';
@import '@/views/FirstPage/fPageFooter.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-duration: 0.5s;
}
html {
  min-width: 360px;
}

body {
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #dcedf1;
}
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
