@import '~normalize.css/normalize.css';

@import '@/profile/FirstPage/Content.scss';
@import '@/profile/FirstPage/Body.scss';
@import '@/profile/FirstPage/Header.scss';

@import '@/profile/SecondPage/Header.scss';
@import '@/profile/SecondPage/Content.scss';
@import '@/profile/SecondPage/Body.scss';

@import '@/profile/variables.scss';

*,
*::before,
*::after {
  font-family: 'YS Text';
  box-sizing: inherit;
}
@font-face {
  font-family: 'YS Text';
  src: url('./fonts/YSText-Medium.woff');
  src: url('./fonts/YSText-Regular.woff');
  font-style: normal;
  font-weight: normal;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #dcedf1;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
html {
  min-width: 320px;
  box-sizing: border-box;
  overflow: scroll;
}
